.btn {
  width: 80px;
  padding: 4px 16px;
  font-size: 0.7rem;
  background-color: aquamarine;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
}
.btn:hover {
  background-color: rgba(127, 255, 212, 0.623);
}

.small{
  width: 80px;
}
.normal{
  width: 100px;
}
.large{
  width: 120px;
}