.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.num-board {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  height: 40px;
}

.num-board > div {
  width: 40px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  height: 100%;
}

.btn-area {
  display: flex;
  justify-content: space-between;
}