<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.emp_manager.mapper.DeptMapper">
	<select id="deptList" resultType="DeptDTO">
        SELECT DEPT_NO, DEPT_NAME FROM REACT_DEPT
    </select>

    <insert id="insertDept">
        INSERT INTO REACT_DEPT
        (DEPT_NAME)
        VALUES (#{deptName})
    </insert>

    <delete id="deleteDept">
        DELETE FROM REACT_DEPT
        WHERE DEPT_NO = #{deptNo}
    </delete>
</mapper>































